<div class="jumbotron">
  <h1 class="display-2">Welcome</h1>
  <p class="lead">
    Backlog
  </p>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Points</th>
        <th scope="col">Priority</th>
        <th scope="col">State</th>
        <th scope="col">Owner</th>
        <th scope="col">Move</th>
      </tr>
    </thead>
    <tbody id="table_body">
      <%= render file: 'shared/task_page' %>
    </tbody>
  </table>
</div>
